.user-tasks {
  margin: 10px 5px;
  border: 1px solid #BCE0FD
}

.user-tasks svg {
  fill: #2699FB;
}

.user-tasks .tasks {
  margin: 10px;
  display: flex;
  height: auto;
  overflow: hidden;
  flex-wrap: wrap;
  min-height: 150px;
}

.name-badge {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.name-badge .profile {
  display: flex;
  align-items: center;
}

.name-badge .profile span {
  margin: 0px 7px;
}

.name-badge .add-task-btn svg:hover {
  cursor: pointer;
  fill:#004AAD;
}
